body {
  background-color: rgb(255, 255, 255);
  font-size: 1em;
}

.element {
  float: left;
  width: 42.0166666666%;
  height: 221px;
  margin: 3939px 0 0 26.5%;
  background-color: rgb(129, 2, 2);
}